.titleMain {
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.textMain {
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

.cardMain {
  display: flex;
}
